html{
  font-size: 1em;
}

body {
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
}

h1{
font-size: 3.5rem;
font-weight: 900;
color: #FFFFFF;
line-height: 4.5rem;
}

h2{
font-size: 3rem;
font-weight: 900;
color: #000000;
line-height: 3.875rem;
}

h3{
font-size: 1.5rem;
font-weight: 700;
color: #000000;
line-height: 2.125rem;
}

h4{
font-size: 1.125rem;
font-weight: 700;
color: #000000;
text-align: center;
line-height: 1.625rem;
}

h5{
font-size: 1rem;
font-weight: 700;
color: #000000;
line-height: 1.625rem;
}

p{
font-size: 1rem;
font-weight: 400;
color: #000000;
line-height: 1.625rem;
}

button{
  width:12.250rem;
  height:3.625rem;
  border-radius: 6.250rem;
  background-color: #2B63E3;
  border: none;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.625rem;
  cursor:pointer;
}
