.section6 {
  height: 47rem;
  overflow: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: 63% 37%;
  grid-template-areas:
  "s6A s6B";
  padding-top: 3.4%;
}

.s6A{
  grid-area:s6A;

  display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "s6A1 s6A1 s6A1"
  "s6A2 s6A2 s6A2"
  "s6A3 s6A3 s6A3"
  "s6A4 s6A5 s6A6";
  padding: 4.4% 11% ;

}

.s6B{
  grid-area: s6B;
}


.s6A h2{
  grid-area: s6A1;
  color: black;
}

.s6A p{
    grid-area: s6A2;
    color: black;
}

.s6A h6{
    grid-area: s6A3;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 1.2px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
}


.s6A h4{
    text-align: left;
    margin-top: 0;
}

.s6A h4:nth-of-type(1){
    grid-area: s6A4;
}

.s6A h4:nth-of-type(2){
    grid-area: s6A5;
}

.s6A h4:nth-of-type(3){
    grid-area: s6A6;
}
