.section2 {
  margin-bottom: 8%;
  overflow: hidden;
  display: block;
}

.section2 h2{
  padding-top: 0%;
  margin-top: 0%;
  text-align: center;
  grid-area:s2A;
  color: black;
}

.section2 p{
  display: none;
}

@media (min-width: 580px) {

  .section2 {
    margin-bottom: 0%;
  }

  .section2 p{
    display:grid;
    padding: 2% 10%;
    grid-area:s2B;
    color:black;
    text-align: center;
  }
}


@media (min-width: 768px) {

  .section2 {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: white;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas:
    "s2A s2B";
    justify-items: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .section2 h2{
    margin: 0%;
    padding: 0%;
    text-align: left;
    padding-left: 10%;
  }

  .section2 p{
    text-align: left;
    padding: 0%;
    padding-right: 10%;
  }
}
