.section4 {
  height: 43.75rem;
  overflow: hidden;
  background-color: white;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "title title title"
  "s4A s4B s4C";

  padding-left: 125px;
  padding-right: 125px;
}

.section4 h2{
  color: black;
  grid-area: title;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.section4 img{
  padding: 1rem;
}

.s4A{
  grid-area:s4A;
}

.s4B{
  grid-area:s4B;
}

.s4C{
  grid-area:s4C;
}
