.section10 {
  height: 25rem;
  overflow: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "s10A s10B";
  align-items: center;
  justify-content: center;
}

.section10 h2,h5,p{
  color: black;
}

.s10A{
  grid-area: s10A;
  margin: 0px 13.8%;
}

.s10B{
  grid-area: s10B;
  overflow: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "s10B1 s10B2"
  "s10B3 s10B4";
  align-items: center;
  justify-content: center;
}

.s10B1{
  grid-area:s10B1;
}

.s10B2{
  grid-area:s10B2;
}

.s10B3{
  grid-area:s10B3;
}

.s10B4{
  grid-area:s10B4;
}
