.section7 {
  overflow: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
  "s7B"
  "s7A";
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

.s7A {
  padding: 10% 3%;
  grid-area: s7A;
}

.s7B {
  padding: 5% 0%;
  grid-area: s7B;
  background-image: url("../../Assets/s7image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.s7A h2{
  color: black;
  margin-top: 0px;
}

.s7A p{
  color: black;
  margin-top: 0px;
}

.s7B h2{
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 25px;
  margin: 30px;
}

@media (min-width: 580px) {
  .section7{
      padding-bottom: 0%;
  }

  .s7A {
    padding: 5% 3%;
    padding-bottom: 0%;
  }
}

@media (min-width: 768px) {

  .section7 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "s7A s7B";
    text-align: left;
  }

  .s7A {
    padding: 0%;
    padding-left: 10%;
  }

  .s7B {
    margin: auto 7%;
    padding: 5% 0%;
  }

  .s7B h2{
    padding-left: 5%;
  }
}


@media (min-width: 1024px) {

  .s7A {
    padding-right: 5%;
  }

  .s7B h2{
    font-size: 28px;
    line-height: 38px;
  }
}


@media (min-width: 1440px) {

  .s7B h2{
    font-size: 36px;
    line-height: 48px;
  }
}
