.section2 {
  height: 15rem;
  overflow: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas:
  "s2A s2B";
  justify-items: center;
  align-items: center;
}

.section2 h2{
  grid-area:s2A;
  color: black;
}

.section2 p{
  grid-area:s2B;
  color:black;
}
